@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

/* .slick-prev:before,.slick-next:before {
  color: red;
} */

.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
}

.slick-slider > button,
.slick-prev,
.slick-next,
.slick-next:hover, 
.slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 0;
  height: 40px;
  width: 30px;
}

.slick-slide {
    position: relative;
}

.slick-dots li {
    margin: 0 2px;
}

.slick-prev:before {
 content: "‹";
 line-height: 0;
}

.slick-next:before {
 content: "›";
 line-height: 0;
}
    
.container__slider > button:active {
  color: black;
}

.slick-next {
  position: absolute;
  right: 0;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slick-prev {
  position: absolute;
  left: 0;
  z-index: 9;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container__slider__links {
  width: 72px;
  height: 18px;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container__slider__links-small {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}

.container__slider__links-small-active {
  background-color: black;
}

.slider__item {
  box-sizing: border-box;
  min-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  height: auto;
  transform: translateX(0);
  transition: transform 1s ease;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}

.slider__item img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1025px) {
  .MuiDialog-container .slider__item img {
    height: 600px;
    object-fit: contain !important;
  }
}

    
