.card .see-more {
    background: #00be9c;
    box-shadow: none;
    font-size: 14px;
    text-transform: initial;
}

.card .title-imovel {
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'quicksand-regular', helvetica, arial;
}

.card .icon-sale {
    width: 100%;
    color: #197b35;
    font-weight: bold;
}

.card .icon-card {
    float: left;
    line-height: 24px;
    margin: 0 10px 0 0;
}


.card .icon-card svg:first-child,
.card .icon-card {
    margin-left: 0px;
}


.card .icon-card svg {
    float: left;
    margin: 0 4px 0 0;
}

.row .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(11, 44, 61);
    margin: 0 auto;
    width: 300px;
    padding-bottom: 10px;
}

.mcubico {
    top: -5px;
    left: 1px;
    position: relative;
    font-size: 0.7rem;
}

.card .slick-track,
.card .slick-slider {
  height: 200px !important;
}

.card .slick-track img {
  height: 200px;
  object-fit: cover;
}
.card .slick-dots  {
    width: 230px;
    bottom: -0;
    overflow: hidden;
    height: 30px;
    margin-left: 15%;
    position: absolute;
}

.card .slick-dots li {
    width: 10px;
}

.card .slick-dots li button:before {
    opacity: .65;
    color: #ffffff;
}

.card .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}
    

