.CardContent {
  float: left;
  padding: 0 15px !important;
}

.card .see-more {
	background: #187985;
	box-shadow: none;
	font-size: 14px;
	text-transform: initial;
}

.card .title-imovel {
	overflow: hidden;
	max-height: 25px;
	margin-bottom: 0;
	    font-size: 1.05rem;
	letter-spacing: -0.6px;
	font-weight: bold;
	font-family: 'quicksand-regular', helvetica, arial;
}

.card .icon-sale {
	width: 100%;
	color: #197b35;
	font-weight: bold;
}

.card .icon-card {
	float: left;
	line-height: 24px;
	margin: 0 10px 0 0;
}


.card .icon-card svg:first-child,
.card .icon-card {
  margin-left: 0px;
}

.card .icon-card svg {
	float: left;
	margin: 0 4px 0 0;
	color: #187985;
}

.row .title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid rgb(11, 44, 61);
	margin: 0 auto;
	width: 300px;
	padding-bottom: 10px;
}

.mcubico {
	top: -5px;
	left: 1px;
	position: relative;
	font-size: 0.7rem;
}

.card .slick-track,
.card .slick-slider {
  height: 200px !important;
	margin-bottom: 15px;
}

.card .slick-track img {
  height: 200px;
  object-fit: cover;
}

.card .slick-dots {
	width: 180px;
	bottom: -0;
	overflow: hidden;
	height: 30px;
	margin-left: 22%;
	position: absolute;
}

.card .slick-dots li {
  width: 10px;
}

.card .slick-dots li button:before {
  opacity: .65;
  color: #ffffff;
}

.card .slick-dots li.slick-active button:before {
	opacity: 1;
	color: #ffffff;
}

.card .descripition {
  max-height: 40px;
  height: 30px;
  overflow: hidden;
  font-size: 1.05rem;
  font-weight: initial;
  color: #9d9d9d;
  letter-spacing: 0.1px;
}

.card .wrap-see-more {
	float: right;
	position: absolute;
	right: 10px;
	bottom: -10px;
}

@media only screen and (min-width: 1025px) {
	.home.center {
		width: 1230px;
		margin: 0 auto;
		margin-top: 40px;
	}

	.card {
		width: 100%;
		max-width: 100% !important;
    position: relative;
    padding-bottom: 20px;
	}

	.card .see-more {
			width: 100%;
	}

	.card .see-more:hover {
		background-color: rgb(11, 44, 61);
		box-shadow: none;
	}
}

@media only screen and (max-width: 1025px) {
	.card {
		padding-bottom: 20px;
	}
}




