div[role="alert"] {
	margin-bottom: 20px;
}

.home .slick-slider > button {
	background: rgb(20 20 20 / 70%) !important;
}

@media only screen and (max-width: 1024px) {
	.css-pztpmr {
		display: grid;
	}

	.css-1sazv7p-MuiStack-root { display: none !important; }
}

.search-neighborhoods {
	width: 300px;
	margin-left: 15px;
	border: 0;
	border-radius: 5px;
	height: 45px;
	line-height: 45px;
	background: #f7f7f8;
}

.search-neighborhoods input {
	padding: 0 !important;
}

.search-neighborhoods label {
	font-size: 12px;
	letter-spacing: 0;
	margin: -3px 0px 0px 5px;
    font-family: 'quicksand-regular', helvetica, arial;
} 

.search-neighborhoods fieldset {
	border: 0;
}

.card .container__slider .slick-slide:after {
	content: "";
    position: absolute;
    width: 84px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    bottom: 15px;
    right: 15px;
    opacity: 0.6;
    background-size: cover;
}


@media only screen and (min-width: 1025px) {
	.home.center {
		width: 1230px;
	}
}
  


