div[role="alert"] {
	margin-bottom: 20px;
}

.CustomerTestimonials + .footer {
	margin-top: 0;
}

.home .slick-slider h3 {
    padding: 0 !important;
}

.home  .slick-dots { margin-left: 25% !important; }


@media only screen and (max-width: 1024px) {
	.css-pztpmr {
		display: grid;
	}

	.css-1sazv7p-MuiStack-root { display: none !important; }
}

.search-neighborhoods {
	width: 300px;
	margin-left: 15px;
	border: 1px solid #be9f6061;
	border-radius: 5px;
	height: 45px;
	line-height: 45px;
	background: #f7f7f8;
	position: relative;
}

.search-neighborhoods input {
	padding: 0 !important;
}

.search-neighborhoods label {
	font-size: 12px;
	letter-spacing: 0;
	margin: -3px 0px 0px 5px;
    font-family: 'quicksand-regular', helvetica, arial;
} 

.search-neighborhoods fieldset {
	border: 0;
}

.search-neighborhoods.Mui-focused label {
    display: none;
}

.minMax .selectType {
	min-width: 100%;
  margin-top: 16px;
}

.minMax .selectType div {
	font-size: 0.8rem;
    line-height: 10px;
}

.minMax .MuiSelect-root {
    height: 42px;
}

.minMax > div div:nth-child(2)::before, 
.minMax > div div.Mui-focused::after {
 border-bottom: none !important;
}


.minMax label,
.minMax label:hover {
    margin: -5px 0 0 0 !important;
    font-family: 'quicksand-regular', helvetica, arial !important;
    font-size: 0.8rem !important;
}

.minMax input,
.minMax fieldset {
    border: 1px solid #be9f6061;
    padding: 13px 10px !important;
    margin: 0 !important;
    font-family: 'quicksand-regular', helvetica, arial !important;
    font-size: 0.8rem !important;
}

/* Botão "Buscar Imóveis" */
.search-button {
  height: 44px !important;
  min-width: 220px !important;
  padding: 0 28px !important;
  border-radius: 14px !important;
  margin-top: 15px !important;

  background: linear-gradient(
    90deg,
    #16c4f3 0%,
    #2b7cff 100%
  );

  color: #ffffff;
  font-size: 0.9rem !important;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  cursor: pointer;
  transition: all .3s ease;

  box-shadow: none !important;
  text-transform: none !important;
}

.card .container__slider .slick-slide:after {
	content: "";
    position: absolute;
    width: 84px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    bottom: 15px;
    right: 15px;
    opacity: 0.6;
    background-size: cover;
    z-index: 9;
}

.search-clear {
	position: absolute;
    margin: -36px 0 0 255px;
    cursor: pointer;
    width: 15px !important;
    background: #f7f7f8;
    padding: 0 10px 0 0;
}

@media only screen and (min-width: 1025px) {
	.home.center {
		width: 1230px;
	}
}

@media only screen and (max-width: 1024px) {
	.home .content > div > div {
		grid-template-columns: none !important;
    grid-template-rows: 4fr;
	}
}


  


