div[role="alert"] {
	margin-bottom: 20px;
}

@media only screen and (min-width: 1025px) {
	
}

@media only screen and (max-width: 1024px) {

}

#contact .form {
	float: left;
	width: 45%;
	margin-left: 30px;
}

#contact iframe {
	float: left;
}

#contact .title {
    text-align: left !important;
    margin: 0 !important;
    border: none;
    font-size: 1.5rem;
    color: rgb(11, 44, 61);
    font-family: 'quicksand-bold', helvetica, arial !important;
    letter-spacing: -1px;
}

#contact .title::after, #contact .title::after {
    content: '';
    display: block;
    width: 2rem;
    border-bottom: 3px solid #c19c64 !important;
    margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {

    #contact iframe {
	    display: none;
    }

    #contact .form {
        width: 100%;
        margin: 0;
    } 

    #contact .form div {
        margin: 0 0 10px 0;
    } 
}
