#header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 65px;
  /* background: #ffffff 0% 0% no-repeat padding-box; */
}

#header .row {
  padding: 0;
}

#header .header-logo {
  float: left;
  width: 70px;
  height: 28px;
  padding: 20px 0;
}

#header .header-logo img {
  width: 100px;
  margin-top: -10px;
}

#header .icon-logo {
  width: 66px;
  height: 41px;
}


#nav {
  float: right;
  height: 35px;
  border-bottom: 1px solid #ccc;
}

#nav li {
  float: left;
  cursor: pointer;
  padding: 0 25px;
  line-height: 35px;
  border-right: 1px solid #f0f0f0;
  padding: 0 20px;
}

/* #nav li.active {
  background: #afcdcd;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    line-height: 30px;
} */

#nav li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

/* #nav li:last-child {
  padding-right: 0;
} */

.hamburger {
  position: absolute;
}

@media (min-width: 1025px) {
  #header {
    height: 100px;
  }

  #header .header-logo {
    margin: 9px 0 0 40px;
  }
  
  #nav {
    float: left;
    width: 700px;
    margin: 30px 0 0 100px;
    border: 0;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  #header .header-logo {
    display: block;
    margin: 0 0 0 15px;
  }

  #header {
    height: 80px;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .hamburger {
    right: 0;
    -webkit-tap-highlight-color: transparent;
    margin-top: 9px;
  }

  .hamburger-box {
    width: 15px;
    height: 13px;
  }

  .hamburger-inner {
    width: 100%;
    height: 2px;
  }

  .hamburger-inner:before {
    width: 100%;
    top: -5px;
    height: 100%;
  }

  .hamburger-inner:after {
    width: 100%;
    bottom: -5px;
    height: 100%;
  }

  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner:after,
  .hamburger .hamburger-inner:before,
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after,
  .hamburger.is-active .hamburger-inner:before {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #header.header-expanded {
    height: 170px;
  }

  #nav {
    display: grid;
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
  }

  #nav li {
    float: none;
    line-height: 50px;
    border-bottom: solid 1px #e7e7e7;
  }

  /* #nav li:last-child {
    border-bottom: 0;
  } */

  #nav li a {
    display: block;
  }
}
