.TableInfo-imovel {
    width: 60% !important;
    min-width: initial;
}

.TableInfo-imovel th, .TableInfo-imovel td {
    font-size: 0.8rem;
}

.back button {
    color: rgba(0, 0, 0, 0.6);
    padding-left: 0;
}

.ThumbSLider-highligh .container__slider .slick-slide:after {
	content: "";
    position: absolute;
    width: 84px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
    z-index: 9;
    background-size: cover;
}

.ThumbSLider-highligh .slick-track,
.ThumbSLider-highligh .slick-slider {
  height: 400px !important;
}

.ThumbSLider-highligh .slick-track img {
  height: 400px;
	object-fit: cover;
}

.ThumbSLider-highligh .slick-dots  {
    width: 400px;
    bottom: -0;
    overflow: hidden;
    height: 30px;
    margin-left: 35%;
    position: absolute;
}

.ThumbSLider-highligh .slick-dots li {
    width: 10px;
}

.ThumbSLider-highligh .slick-dots li button:before {
    opacity: .55;
    color: #ffffff;
}

.ThumbSLider-highligh .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}

.ThumbSLider-info {
    float: left;
    margin: 20px 0 0 0;
    color: #0b2c3d;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.MuiDialog-container .slick-slide img {
    display: block;
    object-fit: contain;
    height: 660px;
}

@media only screen and (max-width: 1024px) {
	.TableInfo-imovel {
			width: 100%  !important;
	}

  .ThumbSLider-highligh .slick-track img {
    object-fit: cover;
	}
}

.caracteristicas {
	float: left;
  min-height: 255px;
  max-height: 340px;
  overflow: hidden;
	width: 500px;
	max-width: 500px;
	margin-bottom: 10px;
	transition: max-height 0.5s ease-in-out;
}

.caracteristicas h2 {
	float: left;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.caracteristicas h5, .caracteristicas .list {
	float: left;
	font-size: 0.9rem;
	margin: 5px 0;
	line-height: 1.1rem;
	color: #786e6e;
	overflow: hidden;
}

.caracteristicas .list { 
	overflow: initial;
    margin: 10px 0 0 16px;
}
.caracteristicas .list li { 
	list-style: initial;
	padding: 5px 0;
}

.caracteristicas.active {
	max-height: max-content;
}

.propertyDetails button {
	float: left;
	margin: 10px 0 20px 0;
	width: 60%;
}

.caracteristicas button svg {
	float: right !important;
}

@media only screen and (min-width: 1280px) {

/* .ThumbSLider-highligh .slick-track img {
	object-position: 0px -570px;
  } */
  .back {
    float: left;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1024px) {
    .caracteristicas {
    padding: 0 20px;
    box-sizing: border-box;
	}

	.propertyDetails button {
        margin-left: 20%;
	}

	.back {
        margin-top: 0px;
		margin-left: 20px;
	}
	div.row.center > div.ThumbSLider-highligh .card.imovel-info > button > div {
        margin-top: 0px !important;
	}

    .ThumbSLider-info {
        padding: 10px 20px;
    }

    .ThumbSLider-info .imovel {
        font-size: 1.1rem;
    }

    .ThumbSLider-highligh .expanded {
        display: none;
    }
}


	
