.TableInfo-imovel {
    width: 60% !important;
    min-width: initial;
}

.TableInfo-imovel th, .TableInfo-imovel td {
    font-size: 0.8rem;
}

.back {
    float: left;
    margin-top: 20px;
}

.back button {
    color: rgba(0, 0, 0, 0.6);
}

.ThumbSLider-highligh .container__slider .slick-slide:after {
	content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    top: 15px;
    left: 15px;
    opacity: 0.7;
    background-size: cover;
}

.ThumbSLider-highligh .slick-track,
.ThumbSLider-highligh .slick-slider {
  height: 340px !important;
}

.ThumbSLider-highligh .slick-track img {
  height: 340px;
  object-fit: cover;
}
.ThumbSLider-highligh .slick-dots  {
    width: 400px;
    bottom: -0;
    overflow: hidden;
    height: 30px;
    margin-left: 35%;
    position: absolute;
}

.ThumbSLider-highligh .slick-dots li {
    width: 10px;
}

.ThumbSLider-highligh .slick-dots li button:before {
    opacity: .65;
    color: #ffffff;
}

.ThumbSLider-highligh .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}

.MuiDialog-container .slick-slide img {
    display: block;
    object-fit: contain;
    height: 660px;
}

@media only screen and (max-width: 1024px) {
    .TableInfo-imovel {
        width: 100%  !important;
    }
}

@media only screen and (min-width: 1024px) {
		.caracteristicas {
    	float: left;
			width: 500px;
			max-width: 500px;
			
			margin-bottom: 10px;
		}

    .caracteristicas h2 {
    	float: left;
    }

    .caracteristicas span {
    	float: left;
    	font-size: 0.9rem;
    	margin-top: 10px;
    	line-height: 1.1rem;
    	color: #525050;
			height: 50px;
			overflow: hidden;
    }

		.caracteristicas span.active {
			height: 110px;
			transition: height 0.5s ease-in-out;
		}

		.caracteristicas button {
			float: left;
			margin-top: 10px;
			width: 100%;
		}

		.caracteristicas button svg {
			float: right !important;
		}

}