.TableInfo-imovel {
    width: 60% !important;
    min-width: initial;
}

.TableInfo-imovel th, .TableInfo-imovel td {
    font-size: 0.8rem;
}

.back {
    margin-bottom: 20px;
}

.back button {
    color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1024px) {
    .TableInfo-imovel {
        width: 100%  !important;
    }
}
