.TableInfo-imovel {
    width: 60% !important;
    min-width: initial;
}

.TableInfo-imovel th, .TableInfo-imovel td {
    font-size: 0.8rem;
}

.back {
    float: left;
    margin-top: 20px;
}

.back button {
    color: rgba(0, 0, 0, 0.6);
}

.ThumbSLider-highligh .container__slider .slick-slide:after {
	content: "";
    position: absolute;
    width: 84px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    bottom: 10px;
    right: 140px;
    opacity: 0.7;
    background-size: cover;
}

.ThumbSLider-highligh .slick-track,
.ThumbSLider-highligh .slick-slider {
  height: 400px !important;
}

.ThumbSLider-highligh .slick-track img {
  height: 400px;
  object-fit: none;
}
.ThumbSLider-highligh .slick-dots  {
    width: 400px;
    bottom: -0;
    overflow: hidden;
    height: 30px;
    margin-left: 35%;
    position: absolute;
}

.ThumbSLider-highligh .slick-dots li {
    width: 10px;
}

.ThumbSLider-highligh .slick-dots li button:before {
    opacity: .65;
    color: #ffffff;
}

.ThumbSLider-highligh .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}

.ThumbSLider-info {
    position: absolute;
    margin: -70px 0 0 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    background: rgb(11 44 61 / 59%);
    border-radius: 10px;
    padding: 10px;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.MuiDialog-container .slick-slide img {
    display: block;
    object-fit: contain;
    height: 660px;
}

@media only screen and (max-width: 1024px) {
	.TableInfo-imovel {
			width: 100%  !important;
	}

  .ThumbSLider-highligh .slick-track img {
        object-fit: cover;
	}
}

.caracteristicas {
	float: left;
    height: 330px;
    overflow: hidden;
	width: 500px;
	max-width: 500px;
	margin-bottom: 10px;
}

.caracteristicas h2 {
	float: left;
}

.caracteristicas h5, .caracteristicas .list {
	float: left;
	font-size: 0.9rem;
	margin: 5px 0;
	line-height: 1.1rem;
	color: #525050;
	overflow: hidden;
}

.caracteristicas .list { 
	overflow: initial;
    margin: 10px 0 0 16px;
}
.caracteristicas .list li { 
	list-style: initial;
	padding: 5px 0;
}

.caracteristicas.active {
	height: 770px;
	transition: height 0.5s ease-in-out;
}

.propertyDetails button {
	float: left;
	margin-top: 10px;
	width: 60%;
}

.caracteristicas button svg {
	float: right !important;
}
