.card .see-more {
    background: #00be9c;
    box-shadow: none;
    font-size: 14px;
    text-transform: initial;
}

.card .title-imovel {
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'quicksand-regular', helvetica, arial;
}

.ThumbSLider-highligh {
    position: relative;
}

.expanded {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ThumbSLider-info {
    position: absolute;
    margin: -70px 0 0 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.ThumbSLider-author {
    position: absolute;
    width: 230px;
    bottom: -80px;
    right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ThumbSLider-author .ThumbSLider-description {
    font-size: 0.9rem;
}

.ThumbSLider-author .MuiCardActionArea-focusHighlight {
    background: #fff;
}

.ThumbSLider-author .ThumbSLider-description Button {
    float: left;
    color: initial;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 10px;
}

.ThumbSLider-author .ThumbSLider-description svg {
    padding-right: 5px;
}


.ThumbSLider-author .avatar {
    position: absolute;
    margin: -75px 0 0 67px;
    z-index: 9;
}

.ThumbSLider-author .avatar img {
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
