.ThumbSLider-highligh {
    position: relative;
    float: left;
    width: 100%;
}

.expanded {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 1.5rem;
    height: auto;
    background: rgb(11, 44, 61);
    border-radius: 50%;
    padding: 8px;
}

.ThumbSLider-highligh .expanded {
    top: -420px;
}

.modal-close {
	top: 3px;
	position: absolute;
	right: 4px;
    cursor: pointer;
}

.ThumbSLider-author {
    position: absolute;
    width: 230px;
    bottom: -80px;
    right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ThumbSLider-author .ThumbSLider-description {
    font-size: 0.9rem;
}

.ThumbSLider-author .MuiCardActionArea-focusHighlight {
    background: #fff;
}

.ThumbSLider-author .ThumbSLider-description Button {
    float: left;
    color: initial;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 10px;
}

.ThumbSLider-author .ThumbSLider-description svg {
    padding-right: 5px;
    width: 17px;
}

.ThumbSLider-author .contact p:nth-child(2) svg {
    color: #838282;
}

.ThumbSLider-author .contact p:nth-child(1) svg {
    color: #25D366;
}

.ThumbSLider-author .avatar {
    margin: -102px 0 0 48px;
    position: absolute;
    z-index: 9;
}

.ThumbSLider-author	.MuiAvatar-circular {
	border: 1px solid #ccc;
  padding: 5px;
}  

.ThumbSLider-author .avatar img {
    object-fit: contain;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.GroupBelowHighligh {
	width: 100%;
  display: block;
}

.GroupBelowHighligh .imovel-info,
.GroupBelowHighligh .ButtonGroup,
.GroupBelowHighligh .ThumbSLider-author {
    float: left;
}

.GroupBelowHighligh .imovel-info {
    width: 280px;
    margin: 0 0 30px 0;
}

.GroupBelowHighligh .imovel-info button { cursor: auto; }
.GroupBelowHighligh .imovel-info button:hover { background-color: transparent; }


.GroupBelowHighligh .ButtonGroup {
    margin: 20px 0 0 70px;
}

.GroupBelowHighligh .ButtonGroup button {
    background: rgb(11, 44, 61);
    border-color: rgb(37 79 101);
}

.GroupBelowHighligh .ButtonGroup svg {
    width: 18px;
    margin-right: 5px;
}

@media only screen and (max-width: 1024px) {
		.ThumbSLider-author .avatar {
    	position: initial;
  	  float: left;
	    margin: 0 20px 0 20px;
		}

		.MuiDialog-container .slick-slide img {
			object-fit: cover;
		}

    .ThumbSLider-author {
			position: initial;
      width: 100%;
			max-width: 100% !important;
      box-shadow: none !important;
      border-bottom: 1px solid #ccc;
    }

		.GroupBelowHighligh .ButtonGroup {
				margin: 0 auto;
				float: initial;
				width: 318px;
				display: flex;
		}
}

