.ThumbSLider-highligh {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.expanded {
    color: #fff;
    /* position: absolute;
    top: 10px;
    right: 10px; */
    cursor: pointer;
    width: 1.5rem;
    height: auto;
    /* background: rgb(11, 44, 61); */
    /* border-radius: 50%; */
    /* padding: 8px; */
}

.modal-close {
	top: 3px;
	position: absolute;
	right: 4px;
    cursor: pointer;
}

.ThumbSLider-author {
    position: absolute;
    width: 230px;
    bottom: -80px;
    right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ThumbSLider-author .ThumbSLider-description {
    font-size: 0.9rem;
}

.ThumbSLider-author .MuiCardActionArea-focusHighlight {
    background: #fff;
}

.PriceDetails {
	width: 230px;
    position: absolute;
    right: 30px;
    top: 180px;
    bottom: 0;
    background: #ffffff !important;
    border: none;
    box-shadow: none !important;
}

.PriceDetails ul {
    padding: 20px 20px;
	background: #ffffff !important;
    border: 1px solid rgb(231 236 243);
    box-shadow: 1px 1px 12px #0000001a;
}

.PriceDetails p {
	color: #786e6e !important;
	font-size: 0.8rem;
}

.PriceDetails li {
    width: 100%;
    list-style: none;
    margin-top: 10px;
    border-bottom: 1px dotted #e3e3e3;
    padding-bottom: 10px;
}

.PriceDetails li:nth-child(3) {
    border-bottom: 1px solid #e3e3e3;
}

.PriceDetails li:nth-child(4) {
    border: none;
}

.PriceDetails li .value {
    display: block;
    color: rgb(21 124 243);
    font-weight: bold;
    font-family: 'quicksand-bold';
}

.PriceDetails li svg {
    float: left;
    margin-right: 10px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    fill: rgb(21 124 243);
    background: rgb(236 242 251);
}

.PriceDetails li:nth-child(1) .value {
    color: rgb(2 116 59);
}

.PriceDetails li:nth-child(1) svg {
    fill: rgb(2 116 59);
}

.PriceDetails li:nth-child(3) .value {
    color: rgb(98 72 218);
}

.PriceDetails li:nth-child(3) svg {
    fill: rgb(98 72 218);
}

.ThumbSLider-author .ThumbSLider-description Button {
    float: left;
    color: initial;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 10px;
}

.ThumbSLider-author .ThumbSLider-description svg {
    padding-right: 5px;
    width: 17px;
}

.ThumbSLider-author .contact p:nth-child(2) svg {
    color: #838282;
}

.ThumbSLider-author .contact p:nth-child(1) svg {
    color: #25D366;
}

.ThumbSLider-author .avatar {
    margin: -102px 0 0 48px;
    position: absolute;
    z-index: 9;
}

.ThumbSLider-author	.MuiAvatar-circular {
	border: 1px solid #ccc;
  padding: 5px;
}  

.ThumbSLider-author .avatar img {
    object-fit: contain;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.GroupBelowHighligh {
	width: 100%;
  display: block;
}

.GroupBelowHighligh .imovel-info,
.GroupBelowHighligh .ButtonGroup,
.GroupBelowHighligh .ThumbSLider-author {
    float: left;
}

.GroupBelowHighligh .imovel-info {
    width: 280px;
    margin: 0;
}

.GroupBelowHighligh .imovel-info button { cursor: auto; }
.GroupBelowHighligh .imovel-info button:hover { background-color: transparent; }


.GroupBelowHighligh .ButtonGroup {
    margin: 10px 0 0 130px;
		box-shadow: none;
}

.GroupBelowHighligh .ButtonGroup button {
    background: rgb(11, 44, 61);
    border-color: rgb(37 79 101);
    font-size: small;
    text-transform: capitalize;
}

.GroupBelowHighligh .ButtonGroup svg {
    width: 18px;
    margin-right: 5px;
}

@media only screen and (max-width: 1024px) {

		.ThumbSLider-highligh {
			margin: 0;
		}

		.ThumbSLider-author .avatar {
			display: none;
		}

		.MuiDialog-container .slick-slide img {
			object-fit: cover;
		}

		.ThumbSLider-author {
			position: initial;
			width: 80%;
			max-width: 100% !important;
			box-shadow: none !important;
			border-bottom: 1px solid #ccc;
		}

		.GroupBelowHighligh .ButtonGroup {
			padding: 0 15px;
			margin: initial;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			box-sizing: border-box;
		}

	.PriceDetails {
		float: left;
		display: block;
		box-shadow: none !important;
		position: initial; 
		width: 100%;
	}

	.propertyDetails {
		float: left;
		margin-top: 20px;
	}

	.GroupBelowHighligh .imovel-info {
		margin: 0 auto;
		margin-left: 20px;
	}

	.GroupBelowHighligh .ThumbSLider-author {
		margin: 0 0 0 40px;
	}
}
