.card .see-more {
    background: #00be9c;
    box-shadow: none;
    font-size: 14px;
    text-transform: initial;
}

.card .title-imovel {
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'quicksand-regular', helvetica, arial;
}

.ThumbSLider-highligh {
    position: relative;
}

.expanded {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 1.5rem;
    height: auto;
    background: rgb(11, 44, 61);
    border-radius: 50%;
    padding: 8px;
}

.ThumbSLider-info {
    position: absolute;
    margin: -70px 0 0 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.ThumbSLider-info .imovel {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.ThumbSLider-author {
    position: absolute;
    width: 230px;
    bottom: -80px;
    right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ThumbSLider-author .ThumbSLider-description {
    font-size: 0.9rem;
}

.ThumbSLider-author .MuiCardActionArea-focusHighlight {
    background: #fff;
}

.ThumbSLider-author .ThumbSLider-description Button {
    float: left;
    color: initial;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-right: 10px;
}

.ThumbSLider-author .ThumbSLider-description svg {
    padding-right: 5px;
    width: 17px;
}

.ThumbSLider-author .contact p:nth-child(2) svg {
    color: #838282;
}

.ThumbSLider-author .contact p:nth-child(1) svg {
    color: #25D366;
}

.ThumbSLider-author .avatar {
    position: absolute;
    margin: -75px 0 0 67px;
    z-index: 9;
}

.ThumbSLider-author .avatar img {
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.GroupBelowHighligh {

}

.GroupBelowHighligh .imovel-info,
.GroupBelowHighligh .ButtonGroup,
.GroupBelowHighligh .ThumbSLider-author {
    float: left;
}

.GroupBelowHighligh .imovel-info {
    width: 240px;
}

.GroupBelowHighligh .ButtonGroup {
    margin: 20px 0 0 70px;
}

.GroupBelowHighligh .ButtonGroup button {
    background: rgb(11, 44, 61);
    border-color: rgb(37 79 101);
}

.GroupBelowHighligh .ButtonGroup svg {
    width: 18px;
    margin-right: 5px;
}

.ThumbSLider-highligh .container__slider .slider__item:after {
	content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("https://tudosobreap.com.br/static/media/logo_tsa.065f0e6987b69aca20e9.png");
    top: 15px;
    left: 15px;
    opacity: 0.5;
    background-size: cover;
}