.top-info {
    color: #fff;
}

.top-info li  {
    float: left;
}

.top-info span {
    float: left;
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.top-info .icon {
    float: left;
    width: 15px;
    margin-top: 7px;
    color: #ff5a3c;
}

.top-info li:nth-child(4),
.top-info li:nth-child(5) {
    float: right;
}

.top-info .icon-face, 
.top-info .icon-insta {
    color: #fff;
    margin-right: 10px;
}

@media (min-width: 1025px) {
    .top-info {
        height: 40px;
        color: #fff;
    }

    .top-info li:nth-child(2) {
        margin-left: 35px;
    }

    .top-info .CRECI {
        margin-left: 50px;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .top-info {
        float: left;
        background: rgb(11, 44, 61);
    }

    .top-info li {
        margin: 0 20px;
    }

    .top-info li:nth-child(4),
    .top-info li:nth-child(5) {
        display: none;
    }

    .row {
        padding: 20px 0;
        float: left;
    }

    .top-info span {
        letter-spacing: -1.6px;
        line-height: 18px;
        font-size: 0.7rem;
    }

    .top-info .icon {
        margin-top: 0px;
    }
}
